<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>demo</title>
  </head>
  <body>
    <div id="app">
        <!--<ul>
          <li v-for="(itmes,index) in tabTitle"
          v-on:click="changeIndex(index)"
          v-bind:class="{active:index===curIndex}">{{itmes}}</li>
        </ul>
        <div class="wrap">
          <transition-group name="tab" tag="div" mode="out-in">
            <div class="cont"
            v-for="(conItems,conIndex) in contTitle"
            v-bind:key="conIndex"
            v-show="curIndex===conIndex">{{conItems}}</div>
          </transition-group>
        </div>-->
        <tab></tab>
        <br>
        <tab></tab>
        <br>
        <tab></tab>
    </div>
    
  </body>
</html>
